<!--

        This file is part of the Squashtest platform.
        Copyright (C) 2011 - 2020 Henix

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses />.

-->
<div>
    Execute a simple shell command line to launch an executable, be it on a unix-like
    or windows node.
    This does not support complex shell constructs : only shell variable references are
    translated from the <code>${VAR_NAME}</code> bourne-like syntax 
    to the windows <code>%VAR_NAME%</code> syntax. 
    Other construct will be submitted as is. To have this work, 
    the executable name should be used without platform specific extensions like 
    <code>.sh</code>, <code>.bat</code> or <code>.exe</code>
    (sh and cmd will automatically lookup the executable with their default exetensions, 
    and in addition sh will look for and accept an executable with no extension at all)
</div>
