<!--

        This file is part of the Squashtest platform.
        Copyright (C) 2011 - 2020 Henix

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses />.

-->
<div>
    Adds the Galaxia tool configurations in the Squash TA plugin configuration 
    of the test project's pom.
    The resulting file is created alongside the projects original pom, 
    and its name is registered as the <code>GALAXIA_INJECTED_POM</code> environment
    variable so that maven commands may be executed with the <code>-f "${GALAXIA_INJECTED_POM}"</code> (sh) 
    or <code>-f "%GALAXIA_INJECTED_POM%"</code> (bat) option.
    <pre>
    NB : using the launchExecutableAnyOs will allow a single
        <code><strong>mvn -f "${GALAXIA_INJECTED_POM}" &lt;other maven program arguements&gt;</strong></code>
    line to be executed as 
        <code><strong>mvn -f "${GALAXIA_INJECTED_POM}" &lt;other maven program arguements&gt;</strong></code>
    or 
        <code><strong>mvn -f "%GALAXIA_INJECTED_POM%" &lt;other maven program arguements&gt;</strong></code>
    depending on the node's operating system.
    </pre>
</div>
